# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
venv/

# Ignore all log files
*.log

# Ignore history files
.history
